<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dmitry Kovalev</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-white">
        <div class="container"><a class="navbar-brand" href="index.html"><strong>Dmitry Kovalev</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link nav-link-section" href="#about"><strong>About</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link nav-link-section" href="#papers"><strong>Papers</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link nav-link-section" href="#posts"><strong>Posts</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link nav-link-section" href="#contact"><strong>Contact</strong></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="CV/cv.pdf"><strong>CV</strong></a></li>
                </ul>
        </div>
        </div>
    </nav>
    <section id="about">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 offset-lg-0">
                        <div class="info-block"><img class="avatar" src="assets/img/cDaG9E6oKnM.jpg">
                            <h2 class="name">Dmitry Kovalev</h2>
                            <p class="position">PhD Student<br></p>
                            <p class="institution"><a href="https://www.kaust.edu.sa/en">KING ABDULLAH UNIVERSITY OF SCIENCE AND TECHNOLOGY<br></a></p>
                            <div><a href="mailto:dmitry.kovalev@kaust.edu.sa"><i class="fa fa-envelope social"></i></a><a href="https://scholar.google.com/citations?user=qHFA5z4AAAAJ"><i class="fa fa-star ai ai-google-scholar social"></i></a><a href="CV/cv.pdf"><i class="fa fa-star ai ai-cv social"></i></a></div>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="about-block">
                                        <h1>About</h1>
                                        <p>I’m a student at the&nbsp;<a href="https://www.kaust.edu.sa/en">King Abdullah University of Science and Technology</a>, where I’m currently studying Computer Science and doing research in the&nbsp;<a href="https://vcc.kaust.edu.sa/Pages/Home.aspx">Visual Computing Center</a>&nbsp;under
                                            the supervision of&nbsp;<a href="https://richtarik.org">Peter Richtárik</a>. Prior to this I got my BSc degree in Applied Mathematics and Physics at the&nbsp;<a href="https://mipt.ru/">Moscow Institute of Physics and Technology</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="interests-block">
                                        <h3>Interests</h3>
                                        <ul>
                                            <li>Optimization</li>
                                            <li>Machine Learning</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="w-100 d-md-none"></div>
                                <div class="col">
                                    <div class="education-block">
                                        <h3>Education</h3>
                                        <ul>
                                            <li>PhD in Computer Science<br><span class="institution">King Abdullah University of Science and Technology</span></li>
                                            <li>MS in Computer Science, 2019<br><span class="institution">King Abdullah University of Science and Technology</span></li>
                                            <li>BS in Applied Mathematics and Physics, 2018<br><span class="institution">Moscow Institute of Physics and Technology</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="papers">
        <div class="section" style="background-color: #f7f7f7;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>Recent Papers</h1>
                    </div>
                    <div class="col">{% for paper in papers %}
                        <div class="paper-container">
                            <h3>{{paper.title}}</h3>
                            <div class="author-container"><span>{{ paper.authors|join(',&nbsp;')}}<br></span></div>
                            <div>{% for link in paper.links %}<a class="button-link" href="{{link.href}}">{{link.title}}</a>{% endfor %}</div>
                        </div>{% endfor %}</div>
                </div>
            </div>
        </div>
    </section>
    <section id="posts">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>Recent Posts</h1>
                    </div>
                    <div class="col">{% for post in posts%}
                        <div class="post-container">
                            <h3>{{post.title}}</h3>
                            <div class="summary-container"><span>{{post.summary}}</span></div>
                            <div class="date-container"><span>{{post.date}}</span></div>
                            <div>{% for link in post.links %}<a class="button-link" href="{{link.href}}">{{link.title}}</a>{% endfor %}</div>
                        </div>{% endfor %}</div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="section" style="background-color: #f7f7f7;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <h1>Contact</h1>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <ul class="contact-list">
                                <li>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <div class="d-inline-block contact-icon"><i class="fa fa-envelope"></i></div>
                                            </div>
                                            <div class="col align-self-center"><span class="text-break"><a href="mailto:dmitry.kovalev@kaust.edu.sa">dmitry.kovalev@kaust.edu.sa</a></span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <div class="d-inline-block contact-icon"><i class="fa fa-envelope"></i></div>
                                            </div>
                                            <div class="col align-self-center"><span class="text-break"><a href="mailto:dakovalev1@gmail.com">dakovalev1@gmail.com</a></span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <div class="d-inline-block contact-icon"><i class="fa fa-phone"></i></div>
                                            </div>
                                            <div class="col align-self-center"><span class="text-break"><a href="tel:+79057190698">+7 905 719 06 98</a>&nbsp;(WhatsApp only)</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <div class="d-inline-block contact-icon"><i class="fa fa-map-marker"></i></div>
                                            </div>
                                            <div class="col align-self-center"><span class="text-break">2225-WS19, Building 1, King Abdullah University of Science and Technology, Thuwal, 23955, Saudi Arabia</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="container relative-container">
            <p>© {{year}} Dmitry Kovalev<span class="float-right"><a href="#about"><i class="fa fa-arrow-up footer-up"></i></a></span></p>
        </div>
    </div>
    <div class="bottom"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/highlight.js"></script>
    <script src="assets/js/scroll.js"></script>
</body>

</html>